.expense-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #4b4b4b;
  color: white;
  width: 100%; /* Set the width to take the full width of the container */
  max-width: 700px; /* Limit the maximum width for better readability */
  margin-left: auto;
  margin-right: auto;
}

.expense-details h3 {
  font-size: 1.25rem;
  margin: 0;
  margin-left: 3em;
}

.expense-location {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  margin-left: 4rem;
  color: white;
}

.expense-amount {
  font-size: 1rem;
  font-weight: bold;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  margin-right: 4rem;
}
